body {
	background-color: rgb(110, 58, 28);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	line-height: 1.5;
}

h1 {
	text-align: center;
	margin-top: 8vh;
	color: white;
	margin-bottom: 35px;
	border: 1px solid gold;
	border-radius: 15px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
h4,
h5,
h6 {
	text-align: center;
	color: white;
	font-size: 1rem;
}

ul,
ol {
	list-style: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
li {
	color: antiquewhite;
	text-align: left;
	margin-bottom: 20px;
}
.links {
	margin-left: 44%;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 300px;
	margin-top: 15px;
	margin-bottom: 50px;
}

.home,
a:visited.home {
	font-size: 20px;
	color: yellow;
}
